.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  border: 1px solid #262934;
}

.user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.user button {
  width: 100px;
  height: 35px;
  background: #242630;
  border: none;
  color: #add8e6;
  transition: .15s;
  cursor: pointer;
  outline: none;
}

.user button:hover {
  color: dodgerblue;
}

.userInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background: #12141A;
  border-left: 1px solid #262934;
}

.userInfo h3 {
  line-height: 35px;
}

span {
  cursor: pointer;
}

button:disabled {
  background: lightblue;
  cursor: default;
}